{{ shufledWord }}
<br>
----------
<br>

{% for possibleAnswer in possibleAnswers %}
<br>
            {{ possibleAnswer }}
<br>
{% endfor %}
<!--
<div style="width:220px; height:500px; margin:0 auto;">

    <form method="GET" name="form">

        <input  class="resp" id="answerId"   name="resp" type="text" value="">
    </form>
    <br />
    <a  onclick="showAnswer()" href="javascript:void(0);">responder</a>



    <div id="txtHintResp" class="answers">
        <br />
        Pontos:
        <br />
        0

    </div>



</div>
-->
{% block javascripts %}

    {# {{ parent() }} #}

    <!--

    <script type="text/javascript">

var xmlhttp;

function showAnswer()
{
    xmlhttp=GetXmlHttpObject();
    if (xmlhttp==null)
    {
        alert ("Browser does not support HTTP Request");
        return;
    }

    var input = document.getElementById('answerId');
    var answer = input.value;
    var sid = Math.random();
    var url= $.post('{#{{path('andre_scramble_ajax_answers')}}#}',{answer: 'answer', sid:'sid'});



    xmlhttp.onreadystatechange=stateChanged;
    xmlhttp.open("GET",url,true);
    xmlhttp.send(null);
}

function stateChanged()
{
    if (xmlhttp.readyState==4)
    {
        document.getElementById("txtHintResp").innerHTML=xmlhttp.responseText;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
function GetXmlHttpObject()
{
    if (window.XMLHttpRequest)
    {
// code for IE7+, Firefox, Chrome, Opera, Safari
        return new XMLHttpRequest();
    }

    if (window.ActiveXObject)
    {
// code for IE6, IE5
        return new ActiveXObject("Microsoft.XMLHTTP");
    }

    return null;
}

    </script>

    -->
{% endblock %}